@font-face {
  font-family: font;
  src: url('/fonts/700.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: font;
  src: url('/fonts/400.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

:root {
  --color-primary: #2a3bb3;
  --color-background: #b2f2ff;
  --color-background-transparent: rgba(178, 242, 255, 30%);
  --color-background-dark: #5ac9e0;
  --color-background-dark-transparent: rgba(90, 201, 224, 30%);
  --color-gray: #ececec;
  --color-gray-dark: #898989;
  --color-gray-light: #f9f9f9;
  --color-white: #fff;
  --color-black: #000;
  --color-black-transparent: rgba(0, 0, 0, 20%);
}

* {
  font-family: font, sans-serif;
  font-size: 1rem;
  font-feature-settings: 'lnum' 1;
  line-height: 1.5;
  box-sizing: border-box;
}

body {
  margin: 0;
  max-width: 420px;
}
