@font-face {
  font-family: font;
  src: url('/fonts/400.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: font;
  src: url('/fonts/700.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}

:root {
  --color-primary: rgb(42, 59, 179);
  --color-background: rgb(178, 242, 255);
  --color-background-transparent: rgba(178, 242, 255, 20%);
  --color-background-dark: rgb(90, 201, 224);
  --color-background-dark-transparent: rgba(90, 201, 224, 20%);
  --color-red: rgb(255, 0, 0);
  --color-white: rgb(255, 255, 255);
  --color-white-transparent: rgba(255, 255, 255, 80%);
  --color-black: rgb(0, 0, 0);
  --color-black-transparent: rgba(0, 0, 0, 20%);
}

* {
  font-family: font, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: 480px;
}
